.footer-content{
    color:var(--white);
    text-align: center;
}
.footer-logo{
    display:none;
}
.footer .social{
    justify-content: center;
    padding:0;
}


@media screen and (min-width:768px){
    .footer-logo{
        display: block;
    }
    .footer-content{
        display:flex; /* contenedor flexible */
        justify-content: space-between; /* para que los elementos se distribuyan en el eje principal*/
        align-items: center; /* alinear en el eje tranversal */
    }
    .footer .social{
        order:3;
        padding:0;
    }
}

@media screen and (min-width:1024px){
    .footer-copyright{
        display:flex;
        gap: .8px;
    }
    .footer{
        padding-block-start:40px;
        padding-block-end:40px;
    }
}
